.container{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    clip-path: circle(50px at 0 0);
    transition: all 2s ease;
}

.container:hover{
    clip-path: circle(100px);
}

body{
    background-color: rgb(22, 13, 13);
    color: rgb(9, 133, 50);
    margin: 0px;
    overflow: hidden;
}

.newspaper-article {
    display: flex;
    justify-content: space-between;
}
.column {
    flex-basis: 48%; /* Adjust this value to control the width of each column */
    padding: 10px;
    background-color: #f5f5f5; /* Background color for the columns */
    margin: 5px;
}

img{
    filter :opacity(80%)
}
img:hover{
    filter :opacity(20%)
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the canvas is on top of the video */
}




.menu-button {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: #fff; /* Set the background color to white */
    color: #000; /* Set the text color to black */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    filter: grayscale(100%); /* Apply a grayscale filter to make the buttons black and white */
  }

  .menu-button:hover {
    filter: none;
    background-color: #000; /* Change the background color to black on hover */
    color: #fff; /* Change the text color to white on hover */
  }
  
  #GUI * {
    z-index: 1;
  }